body {
  color: #f8f0f0; /* Dark gray */
  background-color: #a15b33; /* Light gray */
  text-align:center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

header {
    background-color:#8f3512
}