body {
  color: #fffdfd; /* Dark gray */
  background-color: #a15b33; /* Light gray */
  text-align:center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

header {
    background-color:#8f3512
}
section {
  background-color: #8b4a0d;
  padding: 20px;
}