header {
    background-color:#070707;
    color:rgb(246, 239, 239);
    text-align: center;
    padding: 1px;
    border:3px solid #fffdfd;
}

section {
  background-color: #68260c;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
}
    
body {
  color: #fffdfd; /* Dark gray */
  background-color: #945632; /* Light gray */
  text-align:center;
  margin: 0px;
}

main{
  font-size: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

 
 section img{
  height: 500px;
  border-radius: 20px;
  margin: 3px;
 }

 footer{
  margin-top: 30px;
  background-color: #0a0303;
  padding: 1px;
 }
